body {
  background-attachment: fixed;
  background-image: url(preview/bg.png);
  background-repeat: no-repeat;
}
@font-face {
  font-family: 'F000webfont';
  src: url('/appearance/000webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'aaaiight';
  src: url('/appearance/aaaiight.woff2') format('woff2');
    }
    @font-face {
  font-family: 'FFF Forward';
  src: url('/appearance/FFFFORWA.woff2') format('woff2');
    }
p {
  text-shadow: 2px 2px 2px #aaa;
}
