 .noclick {
  pointer-events: none
}
 .allContent,.headerStuff {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  max-width: 1000px;
  overflow: hidden;
 }
 .allContent {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;
 }
 .left {
  width: 81.3%;
 }
.right {
 border-collapse: collapse;
 display: table;
 height: 100%;
 left: 81.7%;
 width: 18.3%
 position: absolute;
}
.outerbox {
 background-image: linear-gradient(180deg,#151515,#fff);
 border: 1px solid #fff;
 margin-bottom: 3px;
 padding: clamp(0px,.25vw,2px)
}
.innerbox {
 background-image: linear-gradient(180deg,#151515,#fff);
 color: #fff;
 font-size: clamp(0px,2.5vw,25px);
 padding: 0 clamp(0px,1vw,11px) clamp(0px,1vw,15px);
 text-align: center
}
.headerStuff {
 flex-direction: column;
 height: 100%;
 justify-content: center;
 margin: 0 auto -3px
}
.gallery {
 grid-column-gap: 4px;
 grid-row-gap: 0;
 align-content: start;
 display: grid;
 grid-template-columns: auto auto auto;
 margin-top: clamp(0px,4.75vw,.7%);
 width: 100%
}
.gallery,.left {
 max-width: 100%;
 overflow: hidden
}
