@font-face {
    font-family: 			'F000webfont';
    src: 					url('/appearance/000webfont.woff2') format('woff2'),
    font-weight: 			normal;
    font-style: 			normal;
}
@font-face {
    font-family: 			'aaaiight';
    src: 					url('/appearance/aaaiight.woff2') format('woff2'),					
    font-weight: 			normal;
    font-style: 			normal;
}
@font-face {
    font-family: 			'FFF Forward';
    src: 					url('/appearance/FFFFORWA.woff2') format('woff2'),					
    font-weight: 			normal;
    font-style: 			normal;
}
/* deleting this */
 .allContent,.headerStuff {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  max-width: 1000px;
  overflow: hidden;
 }
 .allContent {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 200%;
 }
 .left {
  width: 80.3%;
 }
.right {
 border-collapse: collapse;
 display: table;
 height: 100%;
 left: 65.1%;
 width: 7.3%;
 position: absolute;
}
.outerbox {
 background-image: linear-gradient(#000);
 border: 1px solid #fff;
 margin-bottom: 3px;
 padding: clamp(0px,.25vw,2px)
}
.innerbox {
 background-image: linear-gradient(#000);
 color: #fff;
 font-size: clamp(0px,2.5vw,25px);
 padding: 0 clamp(0px,1vw,11px) clamp(0px,1vw,15px);
 text-align: center
}
.headerStuff {
 flex-direction: column;
 height: 100%;
 justify-content: center;
 margin: 0 auto -3px
}
.gallery {
 grid-column-gap: 4px;
 grid-row-gap: 0;
 align-content: start;
 display: grid;
 grid-template-columns: auto auto auto;
 margin-top: clamp(0px,4.75vw,.7%);
 width: 100%;
height: 100%
}
.gallery,.left {
 max-width: 80%;
 overflow: hidden
}
.preview {
    aspect-ratio: 1.9/1.5;
    background-color: #000;
    border: 5px ridge #1f1b3b;
    max-width: 60.5%;
    width: 288px;
    height: 290px
}
.preview:hover {
    border: 5px ridge #ffffff;
}
